@import url('https://fonts.googleapis.com/css?family=Nunito:400,600');

:root {
  /*--main-bg-color: #e7e3f4;*/
  /*--main-bg-color: #f0ece7;*/
  --main-bg-color: #fbfaf9;
  --mid-banner-color: #d1d1d1;
  --light-txt-color: #605e5c;
  --main-font: 'Nunito', sans-serif;
  font-weight: 600;
}

html,
body {
  box-sizing: border-box;
  /*color: #312163;*/
  color: var(--light-txt-color);
  margin: 0 auto;
}

main {
  background-color: var(--main-bg-color);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
}

/* svg images */

.blue-svg {
  width: 40vw;
}

.recs-svg {
  width: 26vw;
}

.branch-svg {
  width: 20vw;
  padding-left: 2vw;
  padding-right: 2vw;
}

.buy-sell-svg {
  width: 25vw;
}

.vinyl-svg {
  width: 29vw;
}

.bluebonnet-records-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--main-bg-color);
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.bluebonnet-text {
  margin-top: 2rem;
}

.records-text {
  margin-left: 2vw;
  margin-top: 2rem;
}

.branches-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  background-color: var(--main-bg-color);
}

.branches {
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.shop-links {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: var(--main-font);
  font-size: 1.5vw;
}

.buy-sell-vinyl-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  background-color: var(--main-bg-color);
  flex-wrap: wrap;
}

.buy-sell-text {
  margin-bottom: 1rem;
}

.vinyl-etc-text {
  margin-left: 2vw;
}

#announcements {
  background-color: var(--mid-banner-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 12vh;
  overflow: auto;
  justify-content: center;
}

#announcement-text {
  font-size: 1.25vw;
  font-family: var(--main-font);
  overflow: auto;
}

.contact-info {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  justify-content: center;
  text-align: center;
}

.contact-text {
  font-size: 1.5vw;
  font-family: var(--main-font);
  line-height: 1rem;
}

.contact-icons {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: row;
  padding-top: 5vh;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 3vh;
  flex: 1;
}

.fb-svg,
.tw-svg,
.ig-svg {
  width: 4vw;
  max-width: 50px;
}

.fb-icon:hover {
  position: relative;
  bottom: 5px;
}

.ig-icon:hover {
  position: relative;
  bottom: 5px;
}

.tw-icon:hover {
  position: relative;
  bottom: 5px;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    margin: 5px;
  }

  .vinyl-etc-text {
    margin-bottom: 1.5vh;
  }

  .records-text {
    margin-top: 1vh;
  }

  .blue-svg {
    width: 95vw;
  }

  .recs-svg {
    width: 70vw;
  }

  .branch-svg {
    width: 55vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .buy-sell-svg {
    width: 70vw;
  }

  .vinyl-svg {
    width: 80vw;
  }

  .fb-svg {
    width: 12vw;
  }

  .tw-svg {
    width: 12vw;
  }

  .ig-svg {
    width: 12vw;
  }

  .contact-text {
    font-size: 4vw;
    font-family: var(--main-font);
    line-height: 1rem;
  }

  #announcements {
    justify-content: center;
  }

  #announcement-text {
    font-size: 2rem;
    font-family: var(--main-font);
  }

  .contact-icons {
    padding-top: 3vh;
    padding-bottom: 3vh;
  }

  .shop-links {
    display: flex;
    flex-direction: column;
    font-size: 4vw;
  }
}

@media screen and (max-width: 600px) {
  #announcement-text {
    font-size: 1rem;
  }

  #announcements {
    justify-content: center;
    align-items: center;
    min-height: 10vh;
  }

  .contact-text {
    font-size: 5vw;
    font-family: var(--main-font);
    line-height: 1vh;
  }

  .shop-links {
    display: flex;
    flex-direction: column;
    font-size: 5vw;
  }
}
