:root {
  --main-bg-color: #e7e3f4;
  --main-font: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

html,
body {
  box-sizing: border-box;
  color: #312163;
}

main {
  margin: 10px; /* Margins on all page content - Change if ya want */
  background-color: var(--main-bg-color);
}

/* svg images */

.blue-svg {
  width: 500px;
}

.recs-svg {
  width: 325px;
}

.branch-svg {
  width: 450px;
}

.buy-sell-svg {
  width: 400px;
}

.vinyl-svg {
  width: 455px;
}

.bluebonnet-records-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--main-bg-color);
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.bluebonnet-text {
  margin-top: 2rem;
}

.records-text {
  margin-left: 3rem;
  margin-top: 2rem;
}

.branches-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  background-color: var(--main-bg-color);
}

.branches {
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.buy-sell-vinyl-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  background-color: var(--main-bg-color);
  flex-wrap: wrap;
}

.buy-sell-text {
  margin-bottom: 1rem;
}

.vinyl-etc-text {
  margin-left: 3rem;
}

#announcements {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
}

#announcement-text {
  font-size: 1.25rem;
  padding: 3rem;
  font-family: var(--main-font);
}

.contact-info {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.contact-text {
  font-size: 1.5rem;
  font-family: var(--main-font);
  line-height: 1rem;
}

.contact-icons {
  background-color: var(--main-bg-color);
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: space-evenly;
  text-align: center;
  flex: wrap;
}

@media screen and (max-width: 600px) {
  main {
    margin: 5px;
  }

  .vinyl-etc-text {
    margin-left: 0;
    margin-bottom: 1.5rem;
  }

  .records-text {
    margin-left: 0;
    margin-top: 1rem;
  }

  .blue-svg {
    width: 90vw;
  }

  .recs-svg {
    width: 70vw;
  }

  .branch-svg {
    width: 80vw;
  }

  .buy-sell-svg {
    width: 75vw;
  }

  .vinyl-svg {
    width: 85vw;
  }

  .contact-text {
    font-size: 1rem;
    font-family: var(--main-font);
    line-height: 1rem;
  }
}
