@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');

:root {
  --main-purp-color: #312163;
  --main-bg-color: #fbfaf9;
  --light-brown: #b7a196;
  --light-txt-color: #605e5c;
  --main-font: 'Nunito', sans-serif;
  --max-width: 90vw;
  font-weight: 600;
}

/* general elements */
a {
  color: var(--link-txt-color);
}
a:hover {
  /* color: var(--main-purp-color); */
  color: var(--light-brown);
}

html,
body {
  background-color: var(--main-bg-color);
  box-sizing: border-box;
  color: var(--light-txt-color);
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  font-size: 28px;
  /* font-size: 24px; */
  font-family: var(--main-font);
  min-height: calc(100vh - 2rem);
  justify-content: space-between;
  margin-top: 1rem;
  max-width: 100vw;
}

p {
  margin: 0;
  padding: 0;
}

/* texture */

/* general-purpose-css */
.background-color-pink {
  background-color: pink;
}
.background-color-violet {
  background-color: violet;
}
.display-none-mobile {
  display: initial;
}
.display-none-desktop {
  display: none;
}
.font-weight-bold {
  font-weight: bold;
}
.grid-column-span-2 {
  grid-column: span 2;
}
.grid-row-span-3 {
  grid-row: span 3;
}
.position-absolute {
  position: absolute;
  top: 0;
  left: 0;
}
.position-relative {
  position: relative;
}
.branches-container-features {
  height: 20vh;
  max-height: 300px;
  min-height: 150px;
  top: -90px;
  left: -100px;
}
.text-align-center {
  text-align: center;
}
.text-align-left {
  text-align: left;
}
.text-decoration-none {
  text-decoration: none;
}
.vertical-align-bottom {
  vertical-align: bottom;
}

/* title and header images */

.bluebonnet-records-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 1rem auto;
  max-width: var(--max-width);
  text-align: left;
}

.bluebonnet-text {
  width: 58%;
}
.records-text {
  width: 38%;
}

.branch-svg {
  width: 33%;
  max-width: 225px;
}
#record-svg:hover > #record-outer-svg {
  filter: brightness(0) saturate(100%) invert(71%) sepia(7%) saturate(717%) hue-rotate(335deg) brightness(91%) contrast(95%);
}
#record-svg:hover > #record-inner-svg {
  filter: brightness(0) saturate(100%) invert(38%) sepia(0%) saturate(2444%) hue-rotate(31deg) brightness(95%) contrast(91%);
}
#tshirt-text {
  color: var(--light-brown);
  top: 36px;
  left: 51px;
}
#tshirt-svg:hover {
  filter: brightness(0) saturate(100%) invert(71%) sepia(7%) saturate(717%) hue-rotate(335deg) brightness(91%) contrast(95%);
}
#tshirt-svg:hover + #tshirt-text {
  color: var(--light-txt-color); 
}
.buy-sell-text {
  width: 44%;
}
.vinyl-etc-text {
  width: 51%;
}

.branches-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /*margin-left: -1.5rem; /*offset div to make branches appear centered */
  text-align: center;
}

.buy-sell-vinyl-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  width: var(--max-width);
  margin: 0 auto;
}

#announcements {
  background-color: var(--light-brown);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 82px;
  justify-content: center;
  width: 100vw;
}

.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  margin: 0 auto;
  width: var(--max-width);
}

.address {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: calc(50% - .5rem);
  margin-right: .5rem;
}
#address-headers {
  padding-right: 1rem;
}
.hours {
  display: flex;
  flex-direction: row;
}
#hours-header {
  padding-right: 1rem;
}
.contact-icons {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem auto 0 auto;
  width: var(--max-width);
}
.icon {
  width: 50px;
  vertical-align: bottom;
}
.icon:hover {
  filter: brightness(0) saturate(100%) invert(71%) sepia(7%) saturate(717%) hue-rotate(335deg) brightness(91%) contrast(95%);
  /* filter: hue-rotate(230deg) saturate(47.5) brightness(40%); changes svg color on hover */
}

@media screen and (max-width: 1024px) {
  main {
    font-size: 24px;
  }
  .sometimes-bold {
    font-weight: bold;
  }
  .bluebonnet-records-container {
    align-items: center;
    flex-direction: column;
    margin: 0 auto 1rem auto;
    max-width: 100vw;
    width: calc(100vw - 2rem);
    text-align: center;
  }
  .bluebonnet-text {
    width: 100%;
  }
  .records-text {
    width: 69%;
  }
  .buy-sell-vinyl-container {
    width: calc(100% - 2rem);
    margin-bottom: -.3rem; /* compensate for extra space in img */
  }
  .branch-svg {
    width: 33%;
  }
  .branches-container {
    align-items: center;
    justify-content: space-evenly;
    margin-left: 0; /*offset div to make branches appear centered */
  }

  .contact-info {
    width: calc(100% - 2rem);
  }
  /*
  .address {
    width: 100%;
    justify-content: left;
    margin-bottom: 1rem;
  }
  #address-headers {
    max-width: 50%;
  }
  .hours {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: left;
    margin-left: 0;
    width: 100%;
  }
  .hours {
    padding-left: 0;
  } */
  .contact-icons {
    justify-content: space-between;
    width: calc(100% - 2rem);
  }
}

@media screen and (max-width: 700px) {
  main {
    font-size: 16px;
  }
  .display-none-mobile {
    display: none;
  }
  .display-none-desktop {
    display: initial;
  }
  .contact-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: 1rem;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }

  .address {
    display: block;
    margin: 1rem 0;
    text-align: center;
    width: 100%;
  }
  #address-headers {
    display: none;
  }
  .branch-svg {
    width: 150px;
  }
  .branches-container {
    margin-left: 0; /* undo offset from above */
  }
.hours {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-left: 0;
  width: 72%;
  margin: 0 auto;
}

#announcements {
  justify-content: center;
  align-items: center;
  min-height: 72px;
}
  .icon {
    width: 40px;
  }

}
